<div class="row">
  <div class="col-md-6 col-md-offset-3 pairing_form">
    <div class="form-headline">
      <h2><i class="fas fa-user-edit"></i> User Edit</h2>
    </div>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h3><%= @user.errors.count %>件のエラーが発生しました。</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-12">
          <div class="field">
            <%= f.label :"Username" %><br />
            <%= f.text_field :name, class:"name", id:"user_name" %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="field">
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class:"user profile_image", id:"user_profile_image" %><br />
            <%= f.label :"Image" %><br />
            <%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %> 
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Update User", class:"btn btn-lg btn-block btn-success" %>
      </div>
    <% end %>
  </div>
</div>