<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="form-headline">
      <h2>Edit Pairing <i class="fas fa-cookie-bite"></i></h2>
    </div>
    <%= form_for(@pairing) do |f| %>
      <% if @pairing.errors.any? %>
        <div id="error_explanation">
          <h3><%= @pairing.errors.count %> 件のエラーが発生しました。</h3>
          <ul>
            <% @pairing.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field row">
        <%= attachment_image_tag @pairing, :image, :fill, 150, 150, class:"user pairing_image" %><br />
        <%= f.label :"Image" %><br />
        <%= f.attachment_field :image, placeholder:"画像" %> 
      </div>
      <div class="field row">
        <label for="pairing_title">Title</label>
        <%= f.text_field :title, class:"col-xs-12 pairing_title", id:"pairing_title" %>
      </div>
      <br>
      <div class="field row">
        <label for="pairing_caption">Caption</label>
        <%= f.text_area :caption, class:"col-xs-12 pairing_caption", id:"pairing_caption" %>
      </div>
      <br>
      <div class="actions row">
        <%= f.submit "Update Pairing", class:"btn btn-primary btn-block col-xs-12" %>
      </div>
    <% end %>
    <%= link_to "Show", pairing_path(@pairing) %>
    |
    <a class="back" href="/pairings">Back</a>
  </div>
  <div class="col-md-3"></div>
</div>