<div class="row">
  <div class="col-xs-2">
    <h3><i class="fas fa-user"></i> User Info</h3>
    <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format:'jpg', class:"attachment user profile_image fallback", fallback: "no_image.jpg", size:'90x90' %>
    <table class="table userinfo">
      <tbody>
        <tr></tr>
        <tr>
          <th> Username</th>
        </tr>
        </tr>
          <th><%= current_user.name %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-10">
    <h2><i class="fas fa-list-alt"></i> Pairing Lists</h2>
    <div class="search-form">
      <%= search_form_for @q do |f| %>
        <%= f.label :title_or_caption, "Keyword" %>  
        <%= f.search_field :title_or_caption_cont %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th><i class="fas fa-camera-retro"></i> Image</th>
          <th>Title</th>
          <th>Caption</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @pairings.each do |pairing| %>
           <tr>
            <td>
              <%= link_to pairing_path(pairing) do %>
                <%= attachment_image_tag pairing, :image, :fill, 150, 150, format:'jpg', class:"attachment pairing_image" %>
              <% end %>
              <br>
              <%= pluralize(pairing.post_comments.count, "comment") %>
              <br>
              <%= pluralize(pairing.favorites.count, "like") %>
            </td>
            <td>
              <%= link_to pairing_path(pairing) do %>
                <%= pairing.title %>
              <% end %>
            </td>
            <td><%= pairing.caption %></td>
          </tr>
        <% end %>
        <%= paginate @pairings %>
      </tbody>
    </table>
  </div>
</div>