<div class="row">
  <div class="col-sm-6 col-sm-offset-3 pairing_form">
    <div class="form-headline">
      <h2><i class="fas fa-mug-hot"></i> New Pairing</h2>
    </div>
    <%= form_for(@pairing) do |f| %>
      <% if @pairing.errors.any? %>
        <div id="error_explanation">
          <h2><%= @pairing.errors.count %>件のエラーが発生しました。</h2>
          <ul>
            <% @pairing.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-12">
          <i class="fas fa-camera-retro"></i> <%= f.label :"Image" %><br />
          <%= f.attachment_field :image %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group has-icon">
            <%= f.label :"Title" %><br />
            <%= f.text_field :title, class:"form-control", placeholder:"Enter title" %>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :"Caption" %><br />
          <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"Enter caption" %>
        </div>
      </div>
      <hr>
      <%= f.submit "Create Pairing", class:"btn btn-lg btn-block btn-success" %>
    <% end %>
  </div>
</div>
