<!DOCTYPE html>
<html>
  <head>
    <title>PairingTimePractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse", style="background-color:#3F250B;">
      <div class="container">
      　<nav class="nav navbar-nav navbar-left">
          <h2>PairingTime <i class="fas fa-coffee" aria-hidden="true"></i></h2>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to " 投稿一覧", pairings_path, class:"glyphicon glyphicon-list-alt" %>
              </li>
              <li>
                <%= link_to " 新規投稿", new_pairing_path, class: "glyphicon glyphicon-pencil" %>
              </li>
              <li>
                <%= link_to " マイページ", user_path(current_user), class: "glyphicon glyphicon-user" %>
              </li>
              <li>
                <%= link_to " ログアウト", destroy_user_session_path, class: "glyphicon glyphicon-log-out" %>
              </li>
            <% else %>
              <li>
                <%= link_to " ホーム", root_path, class: "glyphicon glyphicon-home" %>
              </li>
              <li>
                <%= link_to " ゲストログイン（閲覧用）", home_guest_sign_in_path, method: :post, class: "glyphicon glyphicon-user" %>
              </li>
              <li>
                <%= link_to " 新規登録", new_user_registration_path, class: "glyphicon glyphicon-edit" %>                
              </li>
              <li>
                <%= link_to " ログイン", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
              </li>
            <% end %>
          </ul>
        </nav>
        
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        
      </div>
    </header>
    <div class="body">
      <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <footer class="navbar navbar-fixed-bottom navbar-inverse", style="background-color:#3F250B;">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-sm-offset-9 col-xs-12">
            <p>©PairingTime Company</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
